{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <h2>{{ title }}</h2>
            <hr>
            {% include "articles/fragments/articles.html" %}
        </div>
        <div class="col-sm-4">
            {% include "fragments/search.html" %}
            <br>
            <div class="well">
                <a href="{% url "categories:rss" category.id %}">
                    <span class="fa fa-rss"></span>
                    Articles in {{ category }} Feed
                </a>
            </div>
        </div>
    </div>
{% endblock %}
