{% if not home %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url "home" %}">
                <span class="fa fa-home"></span>
                Home
            </a>
        </li>
        {% if parent %}
            <li>
                <a href="{{ parent.url }}">
                    <span class="fa fa-folder-open"></span>
                    {{ parent.title }}
                </a>
            </li>
        {% endif %}
        {% if title %}
            <li class="active">
                <span class="fa fa-file"></span>
                {{ title }}
            </li>
        {% endif %}
    </ol>
{% endif %}
