{% load widget_tweaks %}

{% if field|widget_type == "checkboxinput" %}
    <div class="checkbox">
        <label>
            {{ field }} {{ field.label }}
            {% if field.help_text %}
                <span class="fa fa-question-circle" data-toggle="tooltip" title="{{ field.help_text }}"></span>
            {% endif %}
        </label>
    </div>
{% else %}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
        <label for="id_{{ field.name }}" class="control-label">
            {{ field.label }}
        </label>
        {% if field|widget_type == "clearablefileinput" %}
            {{ field }}
        {% else %}
            {% render_field field class+="form-control" placeholder=field.help_text %}
        {% endif %}
        {% for error in field.errors %}
            <span class="fa fa-warning form-control-feedback"></span>
            <p class="help-block text-danger">
                <strong>{{ error }}</strong>
            </p>
        {% endfor %}
    </div>
{% endif %}
