{% load static %}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p>
                    <a href="{% url "home" %}">
                        <strong>
                            <span class="fa fa-fw fa-home"></span>
                            Home Page
                        </strong>
                    </a>
                </p>
                <p>
                    <a href="{% url "about" %}">
                        <span class="fa fa-fw fa-info-circle"></span>
                        About Us
                    </a>
                </p>
                {% if not READ_ONLY %}
                    <p>
                        <a href="{% url "join" %}">
                            <span class="fa fa-fw fa-plus-circle"></span>
                            Join
                        </a>
                    </p>
                {% endif %}
            </div>
            <div class="col-sm-3">
                <p>
                    <a href="{% url "feedback" %}">
                        <span class="fa fa-fw fa-bullhorn"></span>
                        Feedback
                    </a>
                </p>
                <p>
                    <a href="{% url "api:index" %}">
                        <span class="fa fa-fw fa-cog"></span>
                        API
                    </a>
                </p>
                <p>
                    <a href="{% url "rss" %}">
                        <span class="fa fa-fw fa-rss"></span>
                        RSS Feed
                    </a>
                </p>
            </div>
            <div class="col-sm-6">
                <div class="media">
                    <img src="{% static "img/cc-by-sa.png" %}" alt="CC-BY-SA 4.0 Logo" class="pull-left media-object">
                    <div class="media-body">
                        <p class="text-muted">
                            Unless otherwise noted, all content is released under a
                            <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.
                        </p>
                    </div>
                </div>
                <br>
                <p class="text-muted">
                    Copyright &copy; 2014 -
                    <a href="http://quickmediasolutions.com">Nathan Osman</a>
                </p>
            </div>
        </div>
    </div>
</div>
