{% load gravatar %}

<img src="{{ user.email|gravatar }}" alt="{{ user.profile }}'s Gravatar" class="img-circle">
<h4 class="truncate">
    <a href="{{ user.profile.get_absolute_url }}" title="{{ user.profile }}">{{ user.profile }}</a><br>
    <small>Author of {{ user.num_articles }} article{{ user.num_articles|pluralize }}</small>
</h4>
<div class="featured-author fade-bottom">
    {% if user.profile.bio %}
        <p>{{ user.profile.bio|linebreaksbr }}</p>
    {% else %}
        <p class="text-muted">This user has not yet completed their profile.</p>
    {% endif %}
</div>
