<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#dd4814">

        {% block meta %}{% endblock %}

        {% load static %}
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="search" type="application/opensearchdescription+xml" title="2buntu" href="{% url "opensearch" %}">

        <title>
            {% if title %}
                {{ title}}
                {% if "page" in request.GET %}
                    &mdash; Page {{ request.GET.page }}
                {% endif %}
                &middot; 2buntu
            {% else %}
                2buntu &middot; News for Human Beings
            {% endif %}
        </title>

        {% block stylesheets %}
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "css/global.css" %}" rel="stylesheet">
            <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        {% endblock %}

        {% block rss %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% include "fragments/navbar.html" %}{% endblock %}
        <div class="container content">
            {% block breadcrumbs %}{% include "fragments/breadcrumbs.html" %}{% endblock %}
            {% include "fragments/messages.html" %}
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% include "fragments/footer.html" %}{% endblock %}

        {% block scripts %}
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/jquery.timeago.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>

            <!-- Google Analytics -->
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28943111-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>

            <!-- Common page initialization -->
            <script>
                $(function() {

                    // Initialize instances of timeago
                    $('.timeago').timeago();

                    // Initialize tooltips
                    $('[data-toggle="tooltip"]').tooltip();
                });
            </script>
        {% endblock %}
    </body>
</html>
