<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Nathan Osman">
        <meta name="description" content="A blog created by Ubuntu community members that provides news, tutorials, reviews, tips, and the occasional rant - all centering around the world's most popular Linux distribution: Ubuntu."/>

        <title>
            {% if title %}
                {{ title}} &middot; 2buntu
            {% else %}
                2buntu &middot; News for Human Beings
            {% endif %}
        </title>

        {% load static %}
        {% block stylesheets %}
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "css/global.css" %}" rel="stylesheet">
            <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        {% endblock %}

        {% block rss %}{% endblock %}
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container content">
            {% include "breadcrumbs.html" %}
            {% include "messages.html" %}
            {% block content %}{% endblock %}
        </div>
        {% include "footer.html" %}

        {% block scripts %}
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
        {% endblock %}
    </body>
</html>
