<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="author" content="Nathan Osman">
        <meta name="description" content="A blog created by Ubuntu community members that provides news, tutorials, reviews, tips, and the occasional rant - all centering around the world's most popular Linux distribution: Ubuntu."/>

        {% load static %}
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
        <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
        <link rel="search" type="application/opensearchdescription+xml" title="2buntu" href="{% url "opensearch" %}">

        <title>
            {% if title %}
                {{ title}} &middot; 2buntu
            {% else %}
                2buntu &middot; News for Human Beings
            {% endif %}
        </title>

        {% block stylesheets %}
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
            <link href="{% static "css/global.css" %}" rel="stylesheet">
            <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
        {% endblock %}

        {% block rss %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% include "navbar.html" %}{% endblock %}
        <div class="container content">
            {% block breadcrumbs %}{% include "breadcrumbs.html" %}{% endblock %}
            {% include "messages.html" %}
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% include "footer.html" %}{% endblock %}

        {% block scripts %}
            <script src="{% static "js/jquery.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>

            <!-- Google Analytics -->
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-28943111-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
        {% endblock %}
    </body>
</html>
