{% if not home %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url "home" %}">
                <span class="glyphicon glyphicon-home"></span>
                Home
            </a>
        </li>
        {% if parent %}
            <li>
                <a href="{{ parent.url }}">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    {{ parent.title }}
                </a>
            </li>
        {% endif %}
        <li class="active">
            <span class="glyphicon glyphicon-file"></span>
            {{ title }}
        </li>
    </ol>
{% endif %}
