{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    {% block description %}
        <p>
            {{ description|safe }}
        </p>
    {% endblock %}
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                {% for field in form %}
                    {% include "field.html" %}
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-check"></span>
                    {{ action }}
                </button>
                <input type="reset" class="btn btn-default">
            </div>
        </div>
    </form>
{% endblock %}
