<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Maintenance</title>

        <style>
            body {
                font-family: sans-serif;
                text-align: center;
            }
            h2 {
                color: #333;
                font-size: 3em;
                text-shadow: 0.1em 0.1em 0.1em #aaa;
            }
        </style>
    </head>
    <body>
        <h2>System Maintenance</h2>
        <p>
            We apologize for the interruption, but we're currently performing
            maintenance on our servers. Please check back again in a few minutes.
        </p>
    </body>
</html>
