{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{% static "img/touch/mx3-preview.png" %}">
        </div>
        <div class="col-sm-8">
            <h2>Ubuntu Touch Device Art Generator</h2>
            <p>
                You've just finished writing an Ubuntu Touch app and you're ready to start distributing it through the Ubuntu Store.
                How do you begin promoting your app? How can you show visitors to your blog what your app actually looks like on a device?
            </p>
            <p>
                We've got you covered!
            </p>
            <p>
                Upload a screenshot of your app and click the generate button below.
                Our server will generate a picture of your app running on an actual Ubuntu phone for you to use wherever you'd like.
            </p>
            <p>
                <strong>Note:</strong> for best results, use an image that is <strong>1080x1800</strong>.
                Subract <strong>73 pixels</strong> from the height if you are adding the Unity panel.
                Our tool will automatically resize and crop the image if necessary.
            </p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% include "fragments/field.html" %}
                        {% endfor %}
                        <br>
                        <button type="submit" class="btn btn-xl btn-primary">
                            <span class="fa fa-cogs"></span>
                            Generate
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
