{% load static %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="https://twitter.com/2buntunews" class="pull-right" title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
            Latest News
        </h3>
    </div>
    <div class="list-group">
        {% for item in items|slice:":4" %}
            <a href="{{ item.url }}" class="list-group-item">
                <span class="badge">{{ item.date|date:"M d" }}</span>
                <h4 class="list-group-item-heading">{{ item.title }}</h4>
                <p class="list-group-item-text">
                    {{ item.body }}
                </p>
            </a>
        {% empty %}
            <div class="list-group-item">
                <p class="text-muted">
                    No news items.
                </p>
            </div>
        {% endfor %}
        {% if user.is_staff %}
            <div class="list-group-item">
                <a href="{% url "news:add" %}" class="btn btn-sm btn-primary">
                    <span class="fa fa-plus"></span>
                    Add Item
                </a>
            </div>
        {% endif %}
    </div>
</div>
