{% extends "base.html" %}

{% block meta %}
    <meta name="author" content="Nathan Osman">
    <meta name="description" content="A blog created by Ubuntu community members to provide news, tutorials, reviews, tips, and the occasional rant - all centering around the world's most popular Linux distribution: Ubuntu."/>
    <meta name="wot-verification" content="e3ab301eccb71149c5d5"/>
{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="2buntu Articles" href="{% url "rss" %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "articles/fragments/featured.html" %}
            <hr>
            {% include "accounts/fragments/authors.html" %}
            <hr>
            <h2>Recent Articles</h2>
            <p>
                Looking for more great content? There's more where that came from!
                Here are some other articles that have recently been published.
            </p>
            <br>
            {% include "articles/fragments/articles.html" %}
        </div>
        <div class="col-sm-4">
            {% include "components/search.html" %}
            <br>
            {% include "news/fragments/items.html" %}
            <div class="well">
                <a href="{% url "rss" %}">
                    <span class="fa fa-rss"></span>
                    Latest Articles Feed
                </a>
            </div>
            {% include "ads/fragments/ad.html" %}
            <br><br>
            {% include "categories/fragments/categories.html" %}
        </div>
    </div>
{% endblock %}
