{% extends "base.html" %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="2buntu Articles" href="{% url "rss" %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "articles/fragment.html" %}
            <hr>
            {% include "accounts/fragment.html" %}
        </div>
        <div class="col-sm-4">
            <form action="{% url "articles:search" %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Enter search terms...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </form>
            <br>
            {% include "news/fragment.html" %}
            <div class="well">
                <a href="{% url "rss" %}">
                    <span class="fa fa-rss"></span>
                    Latest Articles Feed
                </a>
            </div>
            <img src="http://placehold.it/350x350/eeeeee/cccccc&text=Your+Ad+Here">
            <br><br>
            {% include "categories/fragment.html" %}
        </div>
    </div>
{% endblock %}
