{% extends "base.html" %}
{% load static %}

{% block meta %}
    <meta name="author" content="Nathan Osman">
    <meta name="description" content="A blog created by Ubuntu community members that provides news, tutorials, reviews, tips, and the occasional rant - all centering around the world's most popular Linux distribution: Ubuntu."/>
    <meta name="wot-verification" content="e3ab301eccb71149c5d5"/>
{% endblock %}

{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="2buntu Articles" href="{% url "rss" %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            {% include "articles/fragment1.html" %}
            <hr>
            {% include "accounts/fragment.html" %}
            <hr>
            {% include "articles/fragment2.html" %}
        </div>
        <div class="col-sm-4">
            <form action="{% url "articles:search" %}">
                <div class="input-group">
                    <input type="text" class="form-control" name="q" placeholder="Enter search terms...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </form>
            <br>
            {% include "news/fragment.html" %}
            <div class="well">
                <a href="{% url "rss" %}">
                    <span class="fa fa-rss"></span>
                    Latest Articles Feed
                </a>
            </div>
            <a href="{% url "ads:index" %}">
                <img src="{% static "img/blank-ad.png" %}" alt="Advertise Here">
            </a>
            <br><br>
            {% include "categories/fragment.html" %}
        </div>
    </div>
{% endblock %}
