{% extends "base.html" %}

{% block content %}
    <h2>Links</h2>
    <p>
        Take a gander at these links to some of our friends, interesting and useful resources, and more.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <h3>Site members:</h3>
            <ul>
                <li>
                    <p>
                        Roland Taylor:<br>
                        <a href="http://about.me/rolandixor">http://about.me/rolandixor</a>
                    </p>
                </li>
                <li>
                    <p>
                        Joshua P. Bell:<br>
                        <a href="http://www.joshuapbell.com/">http://www.joshuapbell.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        James Gifford:<br>
                        <a href="https://github.com/jrgifford">https://github.com/jrgifford</a>
                    </p>
                </li>
                <li>
                    <p>
                        Nathan Osman:<br>
                        <a href="http://quickmediasolutions.com/">http://quickmediasolutions.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        Amith K.K.:<br>
                        <a href="http://amithkk.com/">http://amithkk.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        Nitin Venkatesh:<br>
                        <a href="http://nitstorm.github.io/">http://nitstorm.github.io/</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h3>Social pages:</h3>
            <p>
                Drop us a line on your favorite social network.
            </p>
            <p>
                <a href="https://www.facebook.com/pages/2buntucom/129981420418132"
                   title="2buntu on Facebook"
                   target="_blank">
                    <span class="fa fa-facebook fa-fw"></span>
                    Facebook
                </a>
            </p>
            <p>
                <a href="https://plus.google.com/+2buntu"
                   title="2buntu on Google+"
                   target="_blank">
                    <span class="fa fa-google-plus fa-fw"></span>
                    Google+
                </a>
            </p>
            <p>
                <a href="https://twitter.com/2buntu"
                   title="2buntu on Twitter"
                   target="_blank">
                    <span class="fa fa-twitter fa-fw"></span>
                    Twitter
                </a>
            </p>
        </div>
    </div>
{% endblock %}
