{% load static %}

<h4>Get the 2buntu App</h4>
<p>
    Download the official 2buntu app for both Android and Ubuntu Touch.
</p>
<br>
<div class="text-center">
    <a href="https://play.google.com/store/apps/details?id=com.twobuntu.twobuntu" target="_blank">
        <img src="{% static "img/google-play.png" %}"
             title="2buntu for Android">
    </a>
    <a href="https://uappexplorer.com/app/com.ubuntu.developer.nathanosman.twobuntu-app" target="_blank">
        <img src="{% static "img/ubuntu-touch.png" %}"
             title="2buntu for Ubuntu Touch">
    </a>
</div>
