<div id="disqus_thread"></div>
<script>
    var disqus_shortname = '2buntu';
    var disqus_identifier = '{{ article.id }}';
    var disqus_title = '{{ article.title|escapejs }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + '2buntu.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
